xml/person.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" maxOccurs="1"/>
				<xs:element name="address" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="idcard" type="xs:string" use="required"/> 
		</xs:complexType>
	</xs:element>
</xs:schema>
